* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: blueviolet;

  min-width: 100%;
  position: relative;
  justify-content: center;
  gap: 50px;
}
.main_body {
  background-image: url(my.jpg);
  min-height: 9vh;
  min-width: 6vh;
}
