.container {
  align-self: center;
  background-color: hsla(205, 75%, 97%, 0.99);
  gap: auto;
  grid-template-columns: 508px 508px 508px;
  display: grid;
  grid-template-rows: 485px 485px 485px;
  margin-bottom: 20px;
}
.box--1 {
  gap: 40px 40px;
  display: grid;
  grid-template-columns: 130px 130px 130px;
  grid-template-rows: 130px 130px 130px;
  align-self: center;
  size: 80%;
  padding: 10px;
  background-color: rgb(74, 38, 65);
  color: white;
  font-weight: bold;
}

.box--2,
.box--3,
.box--4,
.box--5,
.box--6,
.box--7,
.box--8,
.box--9,
.box--10 {
  background-color: rgb(18, 17, 17);
  background-image: url(/imagessss/Hoverex.jpg);
  width: 112px;
  height: 118px;
  border: 1px solid rgba(rgb(170, 119, 119), green, blue, alpha);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
#my {
  border-radius: 50%;
}
#m {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.con {
  margin-top: 100px;
  align-self: center;
  background-color: hsla(205, 75%, 97%, 0.99);
  gap: auto;
  grid-template-columns: 150px 150x;
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  margin-bottom: 20px;
}
.co {
  /* position: absolute; */

  gap: 5px 40px;
  display: flex;
  grid-template-columns: 160px 160px;
  grid-template-rows: 160px 160px 160px 160px 160px;
  align-self: center;
  size: 80%;
  padding: 7px;
  background-color: rgb(11, 238, 49);
  border: 1px solid white;
  font-weight: bold;
  height: 50px;
  width: 100px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
  transform: rotate(300deg);
}
.plant,
.tree {
  z-index: -1;
  background-color: rgb(19, 65, 105);
  height: 200px;
  width: 40px;
  display: outline;
  -ms-flex-align: center;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
}
